// Variables needed from @addepar/style-toolbox
@import '../../../core-variables/colors';
@import '../../../core-variables/typography';
@import '../../../core-variables/spacing';
@import '../../../elements/inputs/button/variables';

// Core dropdown variables

$adde-dropdown-background-color:           $background-white !default;
$adde-dropdown-title-background-color:     $background-extra-light !default;
$adde-dropdown-offset:                     0 !default;

$adde-dropdown-text-align:                 left !default;
$adde-dropdown-text-color:                 $text-dark !default;
$adde-dropdown-font-weight:                normal !default;
$adde-dropdown-font-size:                  $font-size-base !default;
$adde-dropdown-line-height:                auto !default;
$adde-dropdown-font-family:                $font-family-sans-serif !default;

$adde-dropdown-width:                      auto !default;
$adde-dropdown-min-width:                  160px !default;
$adde-dropdown-max-width:                  auto !default;
$adde-dropdown-height:                     auto !default;
$adde-dropdown-min-height:                 auto !default;
$adde-dropdown-max-height-vh:              80vh !default;
$adde-dropdown-max-height-px:              600px !default; // (not passed to the arrow box mixin)

$adde-dropdown-box-padding:                0 !default;
$adde-dropdown-content-padding:            0 !default;

$adde-dropdown-border-color:               $border-item !default;
$adde-dropdown-border-width:               1px !default;
$adde-dropdown-border-style:               solid !default;
$adde-dropdown-border-radius:              0 !default;

// Dropdown vars, separated out so can customize more easily
$adde-dropdown-box-shadow-color:           rgba(175, 175, 175, 0.1) !default;
$adde-dropdown-box-shadow-x-offset:        3px !default;
$adde-dropdown-box-shadow-y-offset:        3px !default;
$adde-dropdown-box-shadow-spread:          3px !default;

// Want to have no transition but currently it breaks if we do that, so making very short for now
$adde-dropdown-fade-transition:            opacity 0.1s ease-in-out !default;

$adde-dropdown-z-index:                    10 !default;


// Dropdown menus
// -----------------

$adde-dropdown-item-spacing-vertical:      $spacing-default !default;
$adde-dropdown-item-spacing-horizontal:    $spacing-double !default;
$adde-dropdown-item-line-height:           $spacing-double !default;

$adde-dropdown-item-color:                 $adde-dropdown-text-color !default;
$adde-dropdown-item-hover-bg-color:        $background-hover !default;
$adde-dropdown-item-active-bg-color:       $background-hover-active;

$adde-dropdown-item-border-style:          1px solid $border-item !default;

$adde-dropdown-item-group-header-bg:       $background-extra-light !default;
$adde-dropdown-item-group-header-weight:   $font-bold !default;


// Sub dropdowns
// -----------------
// Offset is needed to align the submenu items with the main dropdown menu's items
$adde-sub-dropdown-offset:                 -$adde-dropdown-item-spacing-vertical !default;
