// Variables needed from @addepar/style-toolbox
@import '../../../core-variables/colors';
@import '../../../core-variables/typography';
@import '../../../core-variables/spacing';

// Core tooltip variables

$adde-tooltip-background-color:              $background-dark !default;
$adde-tooltip-border-color:                  none !default;
$adde-tooltip-border-width:                  0 !default;
$adde-tooltip-border-style:                  none !default;
$adde-tooltip-fade-transition:               opacity 0.2s ease-in-out !default;

$adde-tooltip-text-align:                    left !default;
$adde-tooltip-text-color:                    $text-white !default;
$adde-tooltip-font-weight:                   normal !default;
$adde-tooltip-font-size:                     $font-size-smaller !default;
$adde-tooltip-line-height:                   $font-size-base !default;
$adde-tooltip-font-family:                   $font-family-sans-serif !default;

$adde-tooltip-width:                         auto !default;
$adde-tooltip-min-width:                     auto !default;
$adde-tooltip-max-width:                     200px !default;
$adde-tooltip-height:                        auto !default;
$adde-tooltip-min-height:                    auto !default;
$adde-tooltip-max-height:                    auto !default;

$adde-tooltip-box-padding:                   $spacing-default !default;
$adde-tooltip-arrow-size:                    $spacing-default !default;

$adde-tooltip-border-radius:                 0 !default;
$adde-tooltip-box-shadow:                    none !default;

$adde-tooltip-z-index:                       10 !default;

// Tooltip Types
$adde-tooltip-error-bg:                      $background-red !default;
$adde-tooltip-error-text:                    $text-red !default;

// Tooltip with icon
$tooltip-icon-height:                       15px !default;

$tooltip-icon-color:                        $icon-light-gray !default;
$tooltip-icon-color-hover:                  $icon-dark-gray !default;
