// -------------------------
//  Core - Core Variables | Typography - Line Height
// -------------------------

$line-height-x-small:          1 !default;
$line-height-small:            1.33 !default;
$line-height-medium:           1.42 !default;
$line-height-large:            1.5 !default;
