//  -----------------------------------
//  Core - Core Variables | Duration
//  -----------------------------------

$duration-x-short:        0.1s !default;
$duration-short:          0.2s !default;
$duration-medium:         0.3s !default;
$duration-long:           0.5s !default;
$duration-x-long:         0.6s !default;
$duration-xx-long:        1.4s !default;
$duration-xxx-long:       3s !default;
