//  -----------------------------------
//  Core - Core Variables | Opacity
//  -----------------------------------


$opacity-hide:            0 !default;
$opacity-x-light:         0.1 !default;
$opacity-light:           0.2 !default;
$opacity-medium:          0.3 !default;
$opacity-dark:            0.5 !default;
$opacity-x-dark:          0.7 !default;
$opacity-show:            1 !default;
