{{page-title "Lista de veiculos"}}
<BaseContent>
	<div id='buttons-bar'>
		<BsButton disabled='disabled' @onClick={{this.submit}}>Adicionar</BsButton>
		<BsButton disabled='disabled' @onClick={{this.submit}}>Editar</BsButton>
		<BsButton disabled='disabled' @onClick={{action "reload"}}>Remover</BsButton>
	</div>

	<Vehicles/>
</BaseContent>

