{{page-title "Lista de veiculos"}}
<BaseContent>
	<div id='buttons-bar'>
		<BsButton disabled='disabled'>Adicionar</BsButton>
		<BsButton disabled='disabled'>Editar</BsButton>
		<BsButton disabled='disabled'>Remover</BsButton>
	</div>

	<Vehicles/>
</BaseContent>

