//  -----------------------------------
//  Core - Core Variables | Colors - Backgrounds
//  -----------------------------------

$background-xx-dark:              $grey-xx-dark !default;
$background-x-dark:               $grey-x-dark !default;
$background-dark:                 $grey-dark !default;
$background-medium:               $grey-medium !default;
$background-light:                $grey-light !default;
$background-x-light:              $grey-x-light !default;
$background-xx-light:             $grey-xx-light !default;

$background-default:              $white !default;
$background-error:                $red-light !default;
$background-warning:              $yellow-light !default;
$background-success:              $green-light !default;
$background-blue:                 $blue-light !default;

$background-hover:                $blue-x-light !default;
$background-hover-active:         $background-blue !default;
