//  -----------------------------------
//  Core - Core Variables | Colors - Icons
//  -----------------------------------

$icon-dark:                       $background-xx-dark !default;
$icon-light:                      $text-light !default;
$icon-inverse:                    $text-inverse !default;
$icon-success:                    $text-success !default;
$icon-warning:                    $yellow-medium !default;
$icon-error:                      $text-error !default;
