// Core input variables
@import '../variables';

// Text Input Variables
// -----------------------------------------------------------------------------

// Sizing
$input-text-height: $input-height;
$input-text-spacing-horizontal: $input-spacing-horizontal;

// Borders
$input-text-border-width: $input-border-width;
$input-text-border-color: $input-border-color;
